name: Release

on:
  push:
    tags:
      - "*.*"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: mickem/clean-after-action@v1

      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.RELEASE_TAG }}
          token: "${{ secrets.RELEASE_TOKEN }}"